*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    background-image: radial-gradient(at 0% 0%, rgb(233, 232, 228), transparent 50%);
}

header{
    display: flex;
    position: sticky;
    background: linear-gradient(to bottom right, #caa14d, #fcf6ba, #b38728, #fbf5b7, #b3822f);
    font-size: 20px;
    top: 0%;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 90px;
    z-index: 2000;
    gap: 30%;
}
.menu>a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease-in-out;
}

.menu>a:hover{
    background: linear-gradient(to bottom right, #bdbdbd, #ffffff, #757575, #e0e0e0, #9e9e9e);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
    padding: 0.5%;
}
.menu{
    display: flex;
    width: 60%;
    gap: 2%;

}

#logo>img{
    width: 85px;
    height: 85px;
}

.noticia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    text-align: center;
    margin: 0% auto;
}

#resumen>img{
    width: 368px;
    height: 440px;
}

.subtitulo{
    font-size: 1.5em;
    font-weight: bold;
}

#titulo{
    font-size: 2em;
    font-weight: bold;
}

.texto{
    font-size: 1.2em;
}

#declaracion{
    font-size: 1.4em;
}

div:last-of-type>img:first-of-type{
    width: 1000px;
    height: 538px;
}

div:last-of-type>img:last-of-type{
    width: 600px;
    height: 600px;
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    bottom: 0%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #bdbdbd, #ffffff, #757575, #e0e0e0, #9e9e9e);
    flex-wrap: wrap;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2em;
    font-weight: bold;
}
